stub-live/AscioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="AscioServices"
                  targetNamespace="http://www.ascio.com/2007/01"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.ascio.com/2012/01/01/AscioService"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns="http://www.ascio.com/2007/01"
                  xmlns:i0="http://www.ascio.com/2007/01"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

  <wsdl:import namespace="http://www.ascio.com/2007/01" location="https://aws.ascio.com/2012/01/02/AscioService.xml"/>
  <wsdl:types/>
  <wsdl:binding name="BasicHttpBinding_IAscioServices" type="i0:IAscioServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://www.ascio.com/2007/01/ISessionService/LogIn" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://www.ascio.com/2007/01/ISessionService/LogOut" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/GetOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/CreateOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="SearchOrder">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/SearchOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/GetMessages" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateOrder">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/ValidateOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocumentation">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/UploadDocumentation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSupportOrder">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/CreateSupportOrder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMessage">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/UploadMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDomainService/GetDomain" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDomain">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDomainService/SearchDomain" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="UpdateReseller">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDomainService/UpdateReseller" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="Whois">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDomainService/Whois" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AvailabilityCheck">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDomainService/AvailabilityCheck" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrant">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrant" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRegistrant">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/CreateRegistrant" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegistrant">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/DeleteRegistrant" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRegistrant">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/SearchRegistrant" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrantVerificationInfo">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrantVerificationInfo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoRegistrantVerification">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/DoRegistrantVerification" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrantVerificationStatus">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrantVerificationStatus" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadRegistrantVerificationMessage">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IRegistrantService/UploadRegistrantVerificationMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IContactService/GetContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IContactService/CreateContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IContactService/UpdateContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IContactService/DeleteContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchContact">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IContactService/SearchContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNameServer">
      <soap:operation soapAction="http://www.ascio.com/2007/01/INameServerService/GetNameServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNameServer">
      <soap:operation soapAction="http://www.ascio.com/2007/01/INameServerService/CreateNameServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNameServer">
      <soap:operation soapAction="http://www.ascio.com/2007/01/INameServerService/DeleteNameServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchNameServer">
      <soap:operation soapAction="http://www.ascio.com/2007/01/INameServerService/SearchNameServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PollMessage">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IMessageQueueService/PollMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AckMessage">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IMessageQueueService/AckMessage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageQueue">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IMessageQueueService/GetMessageQueue" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDnsSecKey">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDnsSecKeyService/GetDnsSecKey" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDnsSecKey">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDnsSecKeyService/CreateDnsSecKey" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDnsSecKey">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IDnsSecKeyService/SearchDnsSecKey" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentation">
      <soap:operation soapAction="http://www.ascio.com/2007/01/IOrderService/CreateDocumentation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AscioServices">
    <wsdl:port name="BasicHttpBinding_IAscioServices" binding="tns:BasicHttpBinding_IAscioServices">
      <soap:address location="https://aws.ascio.com/2012/01/01/AscioService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>